<article class="appearance" data-id="{{ item.id }}">
    <section class="appearance-left">
        <img alt="{{item.title}}" src="{{ item.image.url }}">
        {{#each item.product_occurrences}}
            <i class="product-indicator" style="top: {{position.y}}%; left: {{position.x}}%;" data-uuid="{{product.id}}"></i>
        {{/each}}
    </section>
    <section class="appearance-right">
        <header>
            <img alt="Picture of {{item.subject.name}}" class="avatar" src="{{ item.subject.avatar.url }}"> 
            <h2>{{ item.subject.name }}</h2>
        </header>
        <h3>{{ item.title }}</h3>

        <section class="appearance-products">
            <h1>Products</h1>
            <section class="appearance-products-inner">
                {{#each products}}
                    <div class="product" data-uuid="{{id}}">
                        <div class="actual">
                            <div class="image">
                                <h1>Actual</h1>
                                <img alt="Product foto"src="{{image.url}}">
                            </div>
                            <div class="info">
                                <h1>{{ name }}</h1>
                                <h2>{{ brand.name }}</h2>
                            </div>
                        </div>
                        {{#each similars}}
                            <div class="similar">
                                <div class="image">
                                    <h1>{{ similar_type }}</h1>
                                    <img alt="Product foto" src="{{image.url}}">
                                </div>
                                <div class="info">
                                    <h1>{{ name }}</h1>
                                    <h2>{{ brand.name }}</h2>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
            </section>
        </section>

    </section>
</article>