<section class="feed">
	<ul>
	{{#each items}}
		<li data-uuid="{{id}}">
			<img alt="Picture of {{subject.name}}" src="{{ image.url }}" >
			<header>
				<img alt="" class="avatar" src="{{ subject.avatar.url }}"> 
				<h2>{{ subject.name }}</h2>
			</header>
            <h1><a data-url="/api/appearance/{{id}}" href="appearance/{{id}}">{{title}}</a></h1>
		</li> 
    {{/each}}
</ul>

</section>
